{% extends '::base.html.twig' %}

{% block body -%}



    <h1>Přehled DPH</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Zobrazovat</th>
                <th>Multiple</th>
                <th>Název</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.visible ? "ANO" : "NE" }}</td>
                <td>{{ entity.multiple }}</td>
                <td>{{ entity.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

